<div class="container-flud">


  <nav class="navbar navbar-expand-lg navbar-dark" [style.backgroundColor]="'#e74c3c'">
    <a class="navbar-brand" href="/videos">Video</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Korisnici
            <span class="sr-only"></span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn1 btn-outline-light my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#loginModal">Prijava</button>
        </li>
        <li class="nav-item">
          <button class="btn btn1 btn-outline-light my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#registracijaModal">Registracija</button>
        </li>

      </ul>

    </div>
  </nav>


  <div id="registracijaModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" [style.backgroundColor]="'#e74c3c'">
          <h5 class="modal-title text-white">Registracija</h5>
          <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form #registracijaForma="ngForm" (ngSubmit)="onSubmitRegistracija(registracijaForma.value)">
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" required name="username" class="form-control" id="username" placeholder="username"  ngModel>
            </div>
            <div class="form-group">
              <label for="lozinka">Lozinka:</label>
              <input type="password" required minlength="5" maxlength="15" name="lozinka" class="form-control" id="lozinka" placeholder="password"
                ngModel>
            </div>
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input type="text" required name="ime" class="form-control" id="ime" placeholder="ime"  ngModel>
              </div>
              <div class="form-group">
                  <label for="prezime">Prezime:</label>
                  <input type="text" required name="prezime" class="form-control" id="prezime" placeholder="prezime"  ngModel>
                </div>
                <div class="form-group">
                    <label for="opis">Opis:</label>
                    <input type="text" required name="opis" class="form-control" id="opis" placeholder="opis"  ngModel>
                  </div>
            <div class="form-group">
              <label for="email">email:</label>
              <input type="text" required name="email" class="form-control" id="email" placeholder="email" ngvemail ngModel>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="!registracijaForma.form.valid" class="btn btn-danger mr-auto">Registracija</button>
            <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" [style.backgroundColor]="'#e74c3c'">
          <h5 class="modal-title text-white">Prijava</h5>
          <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form #loginForma="ngForm" (ngSubmit)="onSubmitLogin(loginForma.value)">
          <div class="modal-body">
            <div class="form-group">
              <label for="username1">Username:</label>
              <input type="text" required name="username" class="form-control" id="username1" placeholder="username"  ngModel>
            </div>
            <div class="form-group">
              <label for="lozinka1">Lozinka:</label>
              <input type="password" required minlength="4" maxlength="15" name="lozinka" class="form-control" id="lozinka1" placeholder="password"
                ngModel>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" [disabled]="!loginForma.form.valid" class="btn btn-danger mr-auto">Registracija</button>
            <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
<div class="container">
  <router-outlet></router-outlet>
</div>